%% {sub_dirs, ["apps/*", "rel"]}.
{erl_opts, [debug_info, fail_on_warning]}.

{eunit_opts, [verbose]}.

{deps, [
    {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git",
                          "v4.0.1"}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git",
                        "3b6a1327d418f7594ecb23aa8d7874c3986f433e"}},
    {meck, ".*", {git, "https://github.com/eproxus/meck.git", "master"}}
]}.
